################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/Huffman_coding_decoding/x64/Debug
/Huffman_coding_decoding/.vs/Huffman_coding_decoding
/Huffman_coding_decoding/.vs/Huffman_coding_decoding/v17
/Huffman_coding_decoding/.vs/Huffman_coding_decoding/v17/Browse.VC.db
/Huffman_coding_decoding/.vs/Huffman_coding_decoding/v17/.suo
/Huffman_coding_decoding/x64/Debug/Huffman_.90457e00.tlog/CL.command.1.tlog
/Huffman_coding_decoding/x64/Debug/Huffman_.90457e00.tlog/CL.read.1.tlog
/Huffman_coding_decoding/x64/Debug/Huffman_.90457e00.tlog/CL.write.1.tlog
/Huffman_coding_decoding/x64/Debug/Huffman_.90457e00.tlog/Huffman_coding_decoding.lastbuildstate
/Huffman_coding_decoding/x64/Debug/Huffman_.90457e00.tlog/link.command.1.tlog
/Huffman_coding_decoding/x64/Debug/Huffman_.90457e00.tlog/link.read.1.tlog
/Huffman_coding_decoding/x64/Debug/Huffman_.90457e00.tlog/link.write.1.tlog
/Huffman_coding_decoding/x64/Debug/coding.obj
/Huffman_coding_decoding/x64/Debug/Huffman_coding_decoding.exe
/Huffman_coding_decoding/x64/Debug/Huffman_coding_decoding.exe.recipe
/Huffman_coding_decoding/x64/Debug/Huffman_coding_decoding.ilk
/Huffman_coding_decoding/x64/Debug/Huffman_coding_decoding.log
/Huffman_coding_decoding/x64/Debug/Huffman_coding_decoding.pdb
/Huffman_coding_decoding/x64/Debug/Huffman_coding_decoding.vcxproj.FileListAbsolute.txt
/Huffman_coding_decoding/x64/Debug/vc143.idb
/Huffman_coding_decoding/x64/Debug/vc143.pdb
